[submodule "app"]
	path = app
	url = https://github.com/GiulianoPoeta99/synclife_app.git
[submodule "api"]
	path = backend
	url = https://github.com/GiulianoPoeta99/synclife_api.git
[submodule "database"]
	path = database
	url = https://github.com/ushdeveloper/postgres-container.git
